extends partial/layout

block title
    title ooops~ 出错了

block body
    h3 请求 #{req.url} 时发生错误
    p 错误详情: #{err.toString()}

    //- if req.method.toLowerCase() === 'get' || req.method.toLowerCase() === 'delete'
    //-     p= req.query.toString()
    //- else
    //-     p= req.body.toString()