/* line 1, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/base/reset.less */
* {
  box-sizing: border-box;
}
/* line 4, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/base/reset.less */
*:before,
*:after {
  box-sizing: inherit;
}
/* line 10, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/base/reset.less */
body {
  margin: 0;
  color: #333;
  line-height: 1.5;
  font-family: 'Avenir' 'Avenir next' 'Microsoft Yahei';
}
/* line 17, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/base/reset.less */
a {
  padding: 0 0.5em;
  color: #2184A0;
  text-decoration: none;
  transition: all 200ms ease;
}
/* line 28, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/base/reset.less */
a.hl {
  color: #fff;
  text-decoration: underline;
  background-color: #2184A0;
}
/* line 35, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/base/reset.less */
p {
  margin: 0.5em 0;
}
/* line 4, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/layout.less */
html,
body {
  height: 100%;
}
/* line 8, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/layout.less */
#cover {
  height: 100%;
  padding: 1em;
  background-image: url('/img/lights.jpg');
  background-size: cover;
  background-position: center;
}
/* line 15, /Users/chenllos/Documents/dev/blog-sakura/public/layout/less/layout.less */
.title {
  margin-top: 10%;
  font-size: 2.5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.75);
}
